/* class selectors */

.top-bar {
    margin-top: 20px;
    height: 80px;
}

.high-score-page {
    position: relative;
    top: 100px;
}

.high-score {
    padding: 10px;
    margin-bottom: 20px;
}

.high-score-text {
    margin-bottom: 2px;
}

.question {
    margin-bottom: 20px;
}

.answer-btn {
    margin-bottom: 20px;
}

/* id selectors */

#initials-input {
    margin-right: 20px;
    position:relative;
    top:3px;
}